{% extends 'base.html' %}
{% block title %}
Добавление запроса
{% endblock %}

{% block body %}
    <div class="container">
        <h1> Добавление запроса </h1>
        <form method="post">
            <textarea name="intro" id="intro" style="width: 900px">Введите краткое описание запроса</textarea>
            <br/>
            <br/>
            <textarea name="full_text" id="full_text" style="width: 900px">Введите сам запрос в формате SQL</textarea>
            <br/>
            <br/>
            <input type="submit" class="btn btn-success" value="Добавить запрос">
        </form>
    </div>
{% endblock %}